@import "../less/variables.less";

body {
  background-image: url(../images/patterns/ravenna.png);
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
  body {
    background-image: url(../images/patterns/ravenna@2x.png);
    background-size: 387px 201px;
  }
}

.cover-image {
  display: block;
  min-height: 500px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header   { background-image: url(../images/engine-house-vignette.png); }
.footer   { background-image: url(../images/heartlands.jpg); }

.header-details {
  padding: 25px;
  text-align: center;

  img {
    margin: 10px auto 0 auto;
    width: 100%;
    max-width: 600px;
  }
}

h1 {
  margin: 0;
  font-family: Codystar;
  color: #fefefe;
  font-weight: bold;
  font-size: 50px;
  text-shadow: 1px 1px 5px #000000;
}

.date {
  margin: 25px;
  font-size: 30px;
  color: #fefefe;
  text-shadow: 0 1px 3px #000000;
  font-family: Inconsolata;
}

h2 {
  position: relative;
  font-family: Inconsolata;
  color: darken(@brand-success, 15%);
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-position: left center;
}

p, table {
  font-size: 15px;
}

a {
  text-decoration: underline;
}

form, .rsvp-response {
  margin-bottom: 15px;

  h2 {
    color: darken(@brand-info, 15%);
    font-weight: bold;
    margin-bottom: 15px;
  }

  .btn-info {
    margin-top: 15px;
    font-size: 17px;
  }
}

.t {
  letter-spacing: -2px;
  font-family: Inconsolata;
}

@media (min-width: 768px) {

  .cover-image {
    min-height: 600px;
  }

  .header-details {
    padding: 50px;
  }

  h1 {
    font-size: 65px;
  }

  p, table {
    font-size: 16px;
  }

  .rsvp {
    padding: 0 11px;
    margin-top: 35px;
  }

  form, .rsvp-response {
    padding: 0 30px 30px 30px;
    margin-bottom: 35px;
    border: solid 1px #d5d5d5;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 5px 2px rgba(177, 177, 177, 0.33);
    box-shadow: 2px 2px 5px 2px rgba(177, 177, 177, 0.33);

    h2 {
      background-image: url(../images/icons/rsvp.png);
    }
  }

  h2.arrival    { background-image: url(../images/icons/arrival.png); }
  h2.ceremony   { background-image: url(../images/icons/ceremony.png); }
  h2.pics       { background-image: url(../images/icons/pics.png); }
  h2.gifts      { background-image: url(../images/icons/gifts.png); }
  h2.champagne  { background-image: url(../images/icons/champagne.png); }
  h2.buffet     { background-image: url(../images/icons/buffet.png); }
  h2.band       { background-image: url(../images/icons/band.png); }
  h2.cake       { background-image: url(../images/icons/cake.png); }
  h2.disco      { background-image: url(../images/icons/disco.png); }
  h2.fin        { background-image: url(../images/icons/fin.png); }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    h2.arrival    { background-image: url(../images/icons/arrival@2x.png); background-size: 21px 19px; }
    h2.ceremony   { background-image: url(../images/icons/ceremony@2x.png); background-size: 21px 19px; }
    h2.pics       { background-image: url(../images/icons/pics@2x.png); background-size: 21px 19px; }
    h2.gifts      { background-image: url(../images/icons/gifts@2x.png); background-size: 21px 19px; }
    h2.champagne  { background-image: url(../images/icons/champagne@2x.png); background-size: 21px 19px; }
    h2.buffet     { background-image: url(../images/icons/buffet@2x.png); background-size: 21px 19px; }
    h2.band       { background-image: url(../images/icons/band@2x.png); background-size: 21px 19px; }
    h2.cake       { background-image: url(../images/icons/cake@2x.png); background-size: 21px 19px; }
    h2.disco      { background-image: url(../images/icons/disco@2x.png); background-size: 21px 19px; }
    h2.fin        { background-image: url(../images/icons/fin@2x.png); background-size: 21px 19px; }
  }

  h2 {
    margin-top: 48px;
    padding-left: 35px;
  }

  h2:first-child {
    margin-top: 24px;
  }

  .t {
    position: absolute;
    left: -115px;
    top: -24px;
    font-family: Inconsolata;
    font-size: 23px;
    line-height: 80px;
    text-align: center;
    color: #fefefe;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-shadow: 0 1px 0 darken(@brand-success, 15%);
    background: @brand-success;
    background: radial-gradient(circle, @brand-success, darken(@brand-success, 10%));
  }

  .schedule {
    background-image: url(../images/timeline.png);
    background-repeat: repeat-y;
    background-position: 65px 0;

    p {
      padding-left: 35px;
    }

    td {
      padding: 0 0 0 35px;
    }
  }
}

@media (min-width: 992px) {
  .rsvp {
    padding: 0 46px;
  }

  .schedule {
    background-position: 100px 0;
  }
}

@media (min-width: 1200px) {
  .header-details {
    font-size: 55px;
    padding: 90px;
  }
  
  .rsvp {
    padding: 0 46px;
  }

  .schedule {
    background-position: 100px 0;
  }
}

@media (max-width: 768px) {
  .date {
    font-size: 24px;
  }
}