body {
  background: url(/images/engine-house.png);
  background-size: 100%;
}

.header {
  color: #fefefe;

  h1 {
    font-family: 'codystar';
    font-family: 'Give You Glory';
    font-size: 4em;
    text-align: center;
  }

  p {
    text-align: center;
    font-size: 2em;
    font-family: 'Sacramento', cursive;
    font-family: 'Stalemate', cursive;
  }

  .getting-married {
  }

  .date {
  }
}