h2 {
  position: relative;
  color: #631532;
  font-family: Inconsolata;
  text-transform: uppercase;
}

img.header-image {
  display: none;
}

.schedule {
  background-position: 65px 0;
}

@media (min-width: 768px) {
  img.header-image {
    display: block;
    max-width: 100%;
  }

  h2 {
    margin-top: 48px;
  }
  h2:first-child {
    margin-top: 24px;
  }

  .t {
    position: absolute;
    left: -115px;
    top: -24px;
    font-family: Inconsolata;
    font-size: 23px;
    line-height: 80px;
    text-align: center;
    color: #fefefe;
    background: #631532;
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }

  .schedule {
    background-image: url(../images/timeline.png);
    background-repeat: repeat-y;
    background-position: 65px 0;
  }
}

@media (min-width: 992px) {
  .schedule {
    background-position: 100px 0;
  }
}

